<!-- src/app/app.component.html -->

<header>
    <nav>
      <ul>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/products/new">Create Product</a></li>
        <!-- Adicione mais links de navegação conforme necessário -->
      </ul>
    </nav>
  </header>
  
  <main>
    <router-outlet></router-outlet>
    <!-- O componente correspondente à rota atual será renderizado aqui -->
  </main>
  
  <footer>
    <!-- Footer content -->
  </footer>
  